<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>3xbun's Guitar Collection</title>
  <link rel="stylesheet" href="./css/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div id="app">
    <header>
      <h1 class="title">3XBUN — Guitar Collection</h1>
    </header>
    <section class="container">
      <div class="hero">
        <div class="featureGuitar guitar">
          <div class="information">
            <p>Featured</p>
            <h1>{{randomGuitar.brand}}</h1>
            <h1>{{randomGuitar.model}}</h1>
          </div>
          <img class="guitarImage" :src="randomGuitar.img" :alt="randomGuitar.model" />
        </div>

        <div class="newGuitar guitar">
          <div class="information">
            <p>New!</p>
            <h1>{{collection.at(-1).brand}}</h1>
            <h1>{{collection.at(-1).model}}</h1>
          </div>
          <img class="guitarImage" :src="collection.at(-1).img" :alt="collection.at(-1).model" />
        </div>
      </div>
    </section>

    <hr>

    <main class="guitarCollection container">
      <h1>COLLECTION</h1>

      <ul class="guitar-list">
        <li v-for="guitar in collection" :key="guitar.id" class="item">
          <div class="item-img">
            <div v-if="guitar.isNotBelong" class="sold-out">Sold</div>
            <img :class="{ greyScale: !guitar.isBelonged }" :src="guitar.img" />
          </div>
          <p>{{guitar.brand}}</p>
          <p>{{guitar.model}}</p>
        </li>
      </ul>
    </main>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="./collection.js"></script>

    <script>
      const { createApp } = Vue;

      createApp({
        setup() {
          const date = new Date();
          const second = date.getSeconds();

          const updateGuitar = () => {
            setInterval(() => {
              updateGuitar();
            }, 1000);

            return collection[Math.floor(Math.random() * collection.length)];
          };

          const updateTime = () => {
            time = date.getDate;
          };

          const randomNumber = Math.floor(Math.random() * collection.length * (date.getSeconds() / 60))

          const randomGuitar = collection[randomNumber]

          const time = date.getSeconds();

          setInterval(() => {
            updateTime;
          }, 1000);

          let currValue = 0;
          let totalValue = 0;

          collection.forEach((item) => {
            totalValue += item.value;

            if (item.isNotBelong === false) {
              currValue += item.value;
            }
          });

          return { collection, randomGuitar, totalValue, currValue, time };
        },
      }).mount("#app");
    </script>
</body>

</html>